<!-- <div class="container ">
  <div class="row">

    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showProfile()">Profile</a></li>
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showPortfolio() ">Wallet</a></li>
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showTransactions()">Transactions</a></li>
      </ul>
    </div>


    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <h2 *ngIf="!showingPortfolio && !showingTransactions && !showingProfile" class="text-center m-5">Manage your account and wallet here</h2>
          <svg *ngIf="!showingPortfolio && !showingTransactions && !showingProfile" class="mx-auto " fill="#000000" width="256px" height="256px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" id="Data_x5F_analysis" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

          </svg>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="showingPortfolio">

          <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-start">
              <h2  [@countTo]="currentNumber > 0 ? 'in' : 'void'">Balance: {{ currentNumber| currency:'USD':'symbol-narrow':'1.2-2' }}</h2>
              <div class="loader pt-1 mx-2"></div>
            </div>
          </div>


          <div class="d-flex justify-content-start">
            <div class="mb-2">
              <button class="btn btn-primary">Deposit</button>
            </div>
            <div class="mx-2 mb-2">
              <button class="btn btn-danger">Withdraw</button>
            </div>
          </div>

          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Stock Symbol</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Purchase Price</th>
                  <th scope="col">Current Price</th>
                  <th scope="col">Total Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let portfolioStock of userPortfolioStocks">
                  <td>{{ portfolioStock.marketData.symbol }},</td>
                  <td>{{ portfolioStock.quantity }}</td>
                  <td>{{ portfolioStock.purchasePrice | number:'1.2-2' }}</td>
                  <td [style.color]="portfolioStock.color">{{  portfolioStock.marketData.price | number:'1.2-2' }}</td>
                  <td>{{ (portfolioStock.purchasePrice) * portfolioStock.quantity | number:'1.2-2' }}</td>

                  <td>
                    <button (click)="viewDetails(portfolioStock.marketData.id)" class="btn btn-secondary">Dettagli</button>
                  </td>
                  <td >
                    <button (click)="createTransactionSELL(portfolioStock.marketData.price, portfolioStock.marketData.id, portfolioStock.quantity, portfolioStock.id)" class="btn btn-primary">VENDI</button>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="showingTransactions">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Stock Symbol</th>
                <th scope="col">Quantity</th>
                <th scope="col">Purchase Price</th>
                <th scope="col">Total Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let portfolioStock of transactions">
                <td>{{ portfolioStock.transactionType}}</td>
                <td>{{ portfolioStock.amount | number:'1.2-2' }}</td>
                <td></td>
                <ng-container *ngIf="portfolioStock.transactionType == 'BUY'">
                <td >{{ portfolioStock.order.marketData.symbol }}</td>
              </ng-container>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12" *ngIf="showingProfile"> -->
          <!-- Colonna destra per le informazioni dell'utente -->
          <!-- <div class="col-md-12">
            <table class="table bannercontrolpanel" id="tables">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                  <th>Username</th>
                  <th>Email</th>
                  <th>Numero di Telefono</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>{{ currentUserInfo.name.charAt(0).toUpperCase() + currentUserInfo.name.slice(1) }}</td>
                  <td>{{ currentUserInfo.surname.charAt(0).toUpperCase() + currentUserInfo.surname.slice(1) }}</td>
                  <td>{{ currentUserInfo.username}}</td>
                  <td>{{ currentUserInfo.email}}</td>
                  <td>{{ currentUserInfo.phoneNumber }}</td>
                </tr>
              </tbody>
            </table>
          </div> -->


          <!-- <form class="form" (submit)="updateUser(currentUserInfo.id)">
            <ul class="wrapper form-group">

              <li style="--i:4;"><input class="input" type="text" placeholder="Name" [(ngModel)]="currentUserInfo.name" (ngModelChange)="onFieldChange()" [ngModelOptions]="{standalone: true}" ></li>
              <li style="--i:3;"><input class="input" placeholder="Phone number" required="" name="phone"></li>
              <li style="--i:2;"><input class="input" type="email" placeholder="E-mail" required="" name="email"></li>
              <button style="--i:1;" (click)="updateUser(currentUserInfo.id)">Submit</button>
            </ul>
          </form> -->





<!--

              <div class="col-md-12">
                <form (submit)="updateUser(currentUserInfo.id)" class="d-flex">
                  <div class="form-group">
                    <label for="name">Nome</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="currentUserInfo.name"(ngModelChange)="onFieldChange()">
                  </div>
                  <div class="form-group">
                    <label for="surname">Cognome</label>
                    <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="currentUserInfo.surname" (ngModelChange)="onFieldChange()">
                  </div>
                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="currentUserInfo.username" (ngModelChange)="onFieldChange()">
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control border-0 bg-white" id="email" name="email" [(ngModel)]="currentUserInfo.email" (ngModelChange)="onFieldChange()">
                  </div>
                  <div class="form-group">
                    <label for="phoneNumber">Numero di Telefono</label>
                    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" [(ngModel)]="currentUserInfo.phoneNumber" (ngModelChange)="onFieldChange()">
                  </div>

                </form>
                <div>
                  <button *ngIf="isFormDirty" (click)="updateUser(currentUserInfo.id)" class="btn btn-primary" data-toggle="modal" data-target="#modalOk">Salva modifiche</button>
                 <button *ngIf="isFormDirty"  (click)="cancelPutUser()" class="btn btn-primary" >Annulla modifiche</button>
                </div>

              </div>



        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- PROVA TABELLA CODE PEN -->


<!-- <div class="g-page ">

  <div class="g-header">
    <div class="g-header-value page-title">Sales</div>
    <div class="g-header-value page-title">$48,206</div>
    <div class="g-header-value sub-title">3,008 total</div>
    <div class="g-header-value sub-title">9 pending</div>
  </div>

  <div class="g-table-body">

    <ul class="g-table-actions">
      <li class="g-table-actions-col">
        <a href="#" class="g-actions-button g-actions-button-default"><i class="fa fa-fw fa-filter right-4"></i>Filter</a>
        <a href="#" class="g-actions-button g-actions-button-default"><i class="fa fa-fw fa-columns right-4"></i>Display</a>
      </li>
      <li>
        <form class="g-forms-input">
          <input type="text" class="g-forms-input-search-bar" placeholder="Search SKU...">
          <i class="g-forms-input-search-bar-icon fa fa-fw fa-search"></i>
        </form>
      </li>
    </ul>

    <table cellspacing="0" class="g-table-list">
       <thead>
          <tr >
              <th class="g-table-list-col-edit"></th>
              <th class="g-table-list-col-title g-table-list-col-sku required ">SKU</th>
              <th class="g-table-list-col-title g-table-list-col-listing opt g-table-list-rwd">Listing Title</th>
              <th class="g-table-list-col-title g-table-list-col-desc required">Description</th>
              <th class="g-table-list-col-title g-table-list-col-money required">Price</th>
              <th class="g-table-list-col-title g-table-list-col-money opt ">Profit</th>
              <th class="g-table-list-col-title g-table-list-col-date required">Date</th>
          </tr>
       </thead>

       <tbody>

          <tr *ngFor="let portfolioStock of transactions">
            <td><a href="#"><i class="fa fa-fw fa-pencil"></i></a></td>
            <td><a *ngIf="portfolioStock.transactionType == 'BUY'" href="#">{{portfolioStock.order.marketData.name}}</a><br><div *ngIf="portfolioStock.transactionType == 'BUY'" class="g-table-list-col-small-copy">{{portfolioStock.order.marketData.symbol}}</div></td>
            <td class="g-table-list-rwd"><a href="#">{{portfolioStock.amount}}</a></td>
            <td>{{portfolioStock.transactionType}}</td>
            <td *ngIf="portfolioStock.transactionType == 'BUY' || 'SELL'">{{portfolioStock.order.quantity}}</td>
            <td>$0.12</td>
            <td><div class="g-table-list-col-small-copy">12/20/2017, 11:50PM</div></td>
          </tr>



        </tbody>

    </table>

    <div class="g-table-list-pagination">

      <div class="g-table-list-pagination-col">
        <span class="g-body-copy">Page</span>
        <form><input type="text" class="g-table-list-pagination-current" placeholder="3"></form>
        <span class="g-body-copy">of 32</span>
      </div>
      <div class="g-table-list-pagination-col">
        <a href="#" class="g-actions-button g-actions-button-pager"><i class="fa fa-fw fa-caret-left right-4"></i>Prev</a>
        <a href="#" class="g-actions-button g-actions-button-pager g-table-list-pager">Next<i class="fa fa-fw fa-caret-right left-4"></i></a>
      </div>

    </div>

  </div>
  </div> -->



<!-- MODALE WITHDRAW -->
<div id="modalWithdraw" class="modal fade modal-lg  ">
  <div class="modal-dialog ">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title bannercontrolpaneltext" id="modal-title-add">
         WITHDRAW
        </h5>
      </div>
      <div class="modal-body"  *ngIf="currentUserInfo">
        <p id="add-modal " class="bannercontrolpaneltext">SELECT AMOUNT</p>
        <div class="col-md-12">
          <form  class="d-flex">
            <div class="form-group">
              <label for="amount">Amount $</label>
              <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
            </div>
          </form>
          <div>
           <button  (click)="createTransactionWITHDRAW(amount); closeWithdrawModal()" class=" btn-s bannercontrolpanel rounded-2 ml-4 btn-primary">Withdraw</button>
           <button (click)="closeWithdrawModal()"  class="btn-s btn-danger rounded-2 px-2 ml-2" >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


















<!-- //MODALI -->
  <!-- <div id="modalOk" class="modal fade modal-lg  ">
    <div class="modal-dialog ">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title bannercontrolpaneltext" id="modal-title-add">
           USER  MODIFIED
          </h5> -->
          <!-- <h5 class="modal-title" id="modal-title-mod">
            Prodotto modificato correttamente
          </h5>
          <h5 class="modal-title" id="modal-title-del">
            Prodotto eliminato correttamente
          </h5> -->
        <!-- </div>
        <div class="modal-body">
          <p id="add-modal " class="bannercontrolpaneltext">Successful user modify</p> -->
          <!-- <p id="mod-modal">Il prodotto è stato modificato.</p>
          <p id="del-modal">Il prodotto è stato cancellato.</p> -->
        <!-- </div>
      </div>
    </div>
  </div> -->
  <div id="modalError" class="modal fade modal-lg text-danger">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title-add-error">
            Prodotto non aggiunto!
          </h5>
          <h5 class="modal-title" id="modal-title-mod-error">
            Prodotto non modificato!
          </h5>
          <h5 class="modal-title" id="modal-title-del-error">
            Prodotto non eliminato!
          </h5>
        </div>
        <div class="modal-body">
          <p id="add-modal-error">
            Errore durante il caricamento del prodotto.
          </p>
          <p id="mod-modal-error">
            Errore durante la modifica del prodotto.
          </p>
          <p id="del-modal-error">
            Errore durante la cancellazione del prodotto.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalOk">
    Mostra modale
  </button> -->



<!-- SPINNER  -->

<div *ngIf="showSpinner">
<div class="loaderS mx-auto " style="margin-top: 300px;">
  <div class="box box-1">
    <div class="side-left"></div>
    <div class="side-right"></div>
    <div class="side-top"></div>
  </div>
  <div class="box box-2">
    <div class="side-left"></div>
    <div class="side-right"></div>
    <div class="side-top"></div>
  </div>
  <div class="box box-3">
    <div class="side-left"></div>
    <div class="side-right"></div>
    <div class="side-top"></div>
  </div>
  <div class="box box-4">
    <div class="side-left"></div>
    <div class="side-right"></div>
    <div class="side-top"></div>
  </div>
</div>
</div>


<!-- TEST DASHBOARD TEMPLATE LIKE MARKET ANALYST -->



<body id="page-top" *ngIf="!showSpinner">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->

              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">

                  <!-- Page Heading -->
                  <div class="d-sm-flex align-items-center justify-content-between mb-4">
                      <h1 class="h3 mb-0 text-gray-800 text-center mt-3">DASHBOARD</h1>
                      <a routerLink="/market" routerLinkActive="active" class="d-none d-sm-inline-block btn btn-sm  shadow-sm bannercontrolpanel"><i
                              class=" fas fa-download fa-sm text-white-50"></i> Market</a>

                  </div>

                  <!-- Content Row -->
                  <div class="row">

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-primary shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                          <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                              Welcome,</div>
                                          <div class="h3 mb-0 font-weight-bold text-gray-800 text-uppercase"  *ngIf="currentUserInfo">{{currentUserInfo.name}} {{currentUserInfo.surname}}</div>
                                      </div>
                                      <div class="col-auto">
                                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>



                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-success shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                      <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                          Balance </div>
                                      <!-- <div class="h3 mb-0 font-weight-bold text-gray-800">{{newmarketData.price| currency:'USD':'symbol-narrow':'1.2-2'}}</div> -->
                                      <div class="row mb-3">
                                        <div class="col-md-12 d-flex justify-content-start">
                                          <h2 class="h3 mb-0 font-weight-bold text-gray-800" [@countTo]="currentNumber > 0 ? 'in' : 'void'" >{{ currentNumber| currency:'USD':'symbol-narrow':'1.2-2' }}</h2>
                                          <div class="loader pt-1 mx-2"></div>

                                        </div>
                                      </div>
                                      <button (click)="createTransactionDEPOSIT()" class=" btn-s bannercontrolpanel rounded-2 ml-4 btn-primary">Deposit</button>   <button (click)="openWithdrawModal()" class="btn-s btn-danger rounded-2 px-2 ml-2" >Withdraw</button>
                                  </div>

                                      <div class="col-auto">
                                          <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!-- Earnings (Monthly) Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-info shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                      <div class="col mr-2">
                                        <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                            STOCKS</div>
                                        <div [@countTo]="currentNumber > 0 ? 'in' : 'void'" class="h3 mb-0 font-weight-bold text-gray-800">{{totalPortfolioQuantity}}</div>
                                    </div>
                                      <div class="col-auto">
                                          <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <!-- Pending Requests Card Example -->
                      <div class="col-xl-3 col-md-6 mb-4">
                          <div class="card border-left-warning shadow h-100 py-2">
                              <div class="card-body">
                                  <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                      <div class="text-s font-weight-bold text-primary text-uppercase mb-1">
                                          TRANSACTIONS</div>
                                      <div [@countTo]="currentNumber > 0 ? 'in' : 'void'" class="h3 mb-0 font-weight-bold text-gray-800">{{totalSellBuyTransactionCount}}</div>
                                  </div>
                                      <div class="col-auto">
                                          <i class="fas fa-comments fa-2x text-gray-300"></i>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Content Row -->

                  <div class="row">

                      <!-- Area Chart -->
                      <div class="col-xl-8 col-lg-7">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class=" bannercontrolpanel  card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-white">Portfolio</h6>
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Dropdown Header:</div>
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                  </div>
                              </div>







                              <!-- Card Body -->
                              <div class="card-body">

                                    <div class="col-md-12" >
                                      <div class="table-responsive">
                                        <table class="table">
                                          <thead>
                                            <tr>
                                              <th scope="col">Stock Symbol</th>
                                              <th scope="col">Quantity</th>
                                              <th scope="col">Purchase Price</th>
                                              <th scope="col">Current Price</th>
                                              <th scope="col">% variation</th>
                                              <th scope="col">Total Price</th>
                                              <th scope="col">Action</th>
                                              <th scope="col"></th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <ng-container *ngFor="let portfolioStock of userPortfolioStocks; let i = index">
                                            <tr *ngIf="showAllPF || i < numberOfItemsToShowPF">
                                              <td>{{ portfolioStock.marketData.symbol }}</td>
                                              <td>{{ portfolioStock.quantity }}</td>
                                              <td>{{ portfolioStock.purchasePrice| currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                                              <td [style.color]="portfolioStock.color">{{  portfolioStock.marketData.price | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                                              <td>{{ calculatePriceChange(portfolioStock.purchasePrice, portfolioStock.marketData.price) | number:'1.2-2' }}%</td>
                                              <td>{{ (portfolioStock.purchasePrice) * portfolioStock.quantity | currency:'USD':'symbol-narrow':'1.2-2' }}</td>

                                              <td>
                                                <button (click)="viewDetails(portfolioStock.marketData.id)" class="btn-xs bannercontrolpanel  px-4 rounded-2 py-2">Details</button>
                                              </td>
                                              <td >
                                                <button (click)="createTransactionSELL(portfolioStock.marketData.price, portfolioStock.marketData.id, portfolioStock.quantity, portfolioStock.id)" class="btn btn-danger px-4 rounded-2 py-2">SELL</button>

                                              </td>
                                            </tr>
                                          </ng-container>
                                            <button *ngIf="userPortfolioStocks.length >6" class="btn bannercontrolpanel mt-2"  (click)="showAllPF = !showAllPF">
                                              {{ showAllPF ? 'Show less' : 'Show all' }}
                                            </button>
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>


                          </div>
                      </div>
</div>
                      <!-- Pie Chart -->
                      <div class="col-xl-4 col-lg-5">
                          <div class="card shadow mb-4">
                              <!-- Card Header - Dropdown -->
                              <div
                                  class=" bannercontrolpanel card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                  <h6 class="m-0 font-weight-bold text-white">Transactions</h6>
                                  <div class="dropdown no-arrow">
                                      <a class="dropdown-toggle" href="" role="button" id="dropdownMenuLink"
                                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                      </a>
                                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                          aria-labelledby="dropdownMenuLink">
                                          <div class="dropdown-header">Dropdown Header:</div>
                                          <a class="dropdown-item" href="#">Action</a>
                                          <a class="dropdown-item" href="#">Another action</a>
                                          <div class="dropdown-divider"></div>
                                          <a class="dropdown-item" href="#">Something else here</a>
                                      </div>
                                  </div>
                              </div>
                              <!-- Card Body -->
                              <div class="card-body">
                                  <div class="col-md-12">
                                  <div class="table-responsive">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th scope="col">Transaction</th>
                                          <th scope="col">Quantity</th>
                                          <th scope="col">Amount</th>
                                          <th scope="col">Symbol</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <ng-container *ngFor="let portfolioStock of transactions; let i = index">
                                        <tr *ngIf="showAll || i < numberOfItemsToShow">
                                          <td>{{ portfolioStock.transactionType}}</td>
                                          <td>{{portfolioStock.order.quantity}}</td>
                                          <td>{{ portfolioStock.amount | currency:'USD':'symbol-narrow':'1.2-2'}}</td>
                                          <ng-container *ngIf="portfolioStock.transactionType == 'BUY' || portfolioStock.transactionType == 'SELL'">
                                          <td >{{ portfolioStock.order.marketData.symbol }}</td>
                                        </ng-container>

                                          <td></td>
                                        </tr>
                                      </ng-container>
                                      <button *ngIf="transactions.length > 7" class="btn bannercontrolpanel mt-2"  (click)="showAll = !showAll">
                                        {{ showAll ? 'Show less' : 'Show all'  }}
                                      </button>
                                      </tbody>
                                    </table>

                                  </div>
                                </div>









                                  <!-- <div class="mt-4 text-center small">
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-primary"></i> Direct
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-success"></i> Social
                                      </span>
                                      <span class="mr-2">
                                          <i class="fas fa-circle text-info"></i> Referral
                                      </span>
                                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Content Row -->
                  <div class="row">

                      <!-- Content Column -->
                      <div class="col-lg-6 mb-4">

                          <!-- Project Card Example -->
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                              </div>
                              <div class="card-body">
                                  <h4 class="small font-weight-bold">Server Migration <span
                                          class="float-right">20%</span></h4>
                                  <div class="progress mb-4">
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%"
                                          aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4 class="small font-weight-bold">Sales Tracking <span
                                          class="float-right">40%</span></h4>
                                  <div class="progress mb-4">
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 40%"
                                          aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4 class="small font-weight-bold">Customer Database <span
                                          class="float-right">60%</span></h4>
                                  <div class="progress mb-4">
                                      <div class="progress-bar" role="progressbar" style="width: 60%"
                                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4 class="small font-weight-bold">Payout Details <span
                                          class="float-right">80%</span></h4>
                                  <div class="progress mb-4">
                                      <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                          aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                  <h4 class="small font-weight-bold">Account Setup <span
                                          class="float-right">Complete!</span></h4>
                                  <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%"
                                          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                              </div>
                          </div>

                          <!-- Color System -->
                          <!-- <div class="row">
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-primary text-white shadow">
                                      <div class="card-body">
                                          Primary
                                          <div class="text-white-50 small">#4e73df</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-success text-white shadow">
                                      <div class="card-body">
                                          Success
                                          <div class="text-white-50 small">#1cc88a</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-info text-white shadow">
                                      <div class="card-body">
                                          Info
                                          <div class="text-white-50 small">#36b9cc</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-warning text-white shadow">
                                      <div class="card-body">
                                          Warning
                                          <div class="text-white-50 small">#f6c23e</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-danger text-white shadow">
                                      <div class="card-body">
                                          Danger
                                          <div class="text-white-50 small">#e74</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-secondary text-white shadow">
                                      <div class="card-body">
                                          Secondary
                                          <div class="text-white-50 small">#858796</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-light text-black shadow">
                                      <div class="card-body">
                                          Light
                                          <div class="text-black-50 small">#f8f9fc</div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-lg-6 mb-4">
                                  <div class="card bg-dark text-white shadow">
                                      <div class="card-body">
                                          Dark
                                          <div class="text-white-50 small">#5a5c69</div>
                                      </div>
                                  </div>
                              </div>
                          </div>-->

                      </div>

                      <div class="col-lg-6 mb-4">

                          <!-- Illustrations -->
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                              </div>
                              <div class="card-body">
                                  <div class="text-center">
                                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                          src="" alt="...">
                                  </div>
                                  <p>Add some quality, svg illustrations to your project courtesy of <a
                                          target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                                      constantly updated collection of beautiful svg images that you can use
                                      completely free and without attribution!</p>
                                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                                      unDraw &rarr;</a>
                              </div>
                          </div>

                          <!-- Approach -->
                          <div class="card shadow mb-4">
                              <div class="card-header py-3">
                                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                              </div>
                              <div class="card-body">
                                  <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                      CSS bloat and poor page performance. Custom CSS classes are used to create
                                      custom components and custom utility classes.</p>
                                  <p class="mb-0">Before working with this theme, you should become familiar with the
                                      Bootstrap framework, especially the utility classes.</p>
                              </div>
                          </div>

                      </div>
                  </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->

          <!-- Footer -->
          <footer class="sticky-footer bg-white">
              <div class="container my-auto">
                  <div class="copyright text-center my-auto">
                      <span>Copyright &copy; Luca Quaglino 2023</span>

                  </div>
              </div>
          </footer>
          <!-- End of Footer -->

      </div>
      <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->


  <!-- Logout Modal-->
  <!-- <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
              <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <a class="btn btn-primary" href="login.html">Logout</a>
              </div>
          </div>
      </div>
  </div> -->
