<div class="container">
  <div class="row">
    <!-- Colonna sinistra con i link -->
    <div class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showProfile()">Profile</a></li>
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showPortfolio() ">Wallet</a></li>
        <li class="list-group-item"><a routerLink="/dashboard" (click)="showTransactions()">Transactions</a></li>
      </ul>
    </div>

    <!-- Contenuto dinamico -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-header">
Welcome, {{ currentUserInfo.name.charAt(0).toUpperCase() + currentUserInfo.name.slice(1) }} {{ currentUserInfo.surname.charAt(0).toUpperCase() + currentUserInfo.surname.slice(1) }}
        </div>
        <h2 *ngIf="!showingPortfolio && !showingTransactions && !showingProfile" class="text-center m-5">Manage your account and wallet</h2>
        <div class="card-body">
          <div *ngIf="showingPortfolio" >
            <!-- Colonna centrale per il portafoglio -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Portafoglio
                </div>
                <div class="card-body">
                  <!-- Balance -->
                  <div class="row mb-3">
                    <div class="col-md-12">
                      <h5>Balance Attuale:</h5>
                      <p>INSERIRE QUI IL BALANCE</p>
                    </div>
                  </div>

                  <!-- Pulsanti di Deposit e Withdraw -->
                  <div class="row">
                    <div class="col-md-6">
                      <button class="btn btn-primary" >Deposit</button>
                    </div>
                    <div class="col-md-6">
                      <button class="btn btn-danger" >Withdraw</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>



          <div *ngIf="showingTransactions">
            <!-- Colonna destra per le transazioni -->
            <div class="col-md-12"> <!-- Modifica qui -->
              <div class="card">
                <div class="card-header">
                  Transazioni
                </div>
                <div class="card-body">
                  <!-- Contenuto delle transazioni -->
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="showingProfile">
            <!-- Colonna destra per le informazioni dell'utente -->
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  Informazioni Utente
                </div>
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Cognome</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Numero di Telefono</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Inserisci qui i dati dell'utente -->
                      <tr>
                        <td>{{ currentUserInfo.name.charAt(0).toUpperCase() + currentUserInfo.name.slice(1) }}</td>
                        <td>{{ currentUserInfo.surname.charAt(0).toUpperCase() + currentUserInfo.surname.slice(1) }}</td>
                        <td>{{ currentUserInfo.username}}</td>
                        <td>{{ currentUserInfo.email}}</td>
                        <td>{{ currentUserInfo.phoneNumber }}</td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
