<div *ngIf="showSpinner">


  <!-- <div id="load">

    <div>D</div>
    <div>A</div>
    <div>O</div>
    <div>L</div>
    <div> </div>
   <div>K</div>
   <div>C</div>
   <div>O</div>
   <div>T</div>
   <div>S</div>
  </div> -->

  <div class="loaderS mx-auto " style="margin-top: 300px;">
    <div class="box box-1">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-2">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-3">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
    <div class="box box-4">
      <div class="side-left"></div>
      <div class="side-right"></div>
      <div class="side-top"></div>
    </div>
  </div>
</div>
<!--
<div *ngIf="!showSpinner">
<div class="container mt-4 ">
  <h2>Market Stock Actions</h2>
  <button (click)="nextPage()">NEXT</button>
  <button (click)="previousPage()">PREVIOUS</button>
  <div class="table-responsive">
    <table class="table bannercontrolpanel">
      <thead>
        <tr>
          <th scope="col" class="d-none d-md-table-cell">Symbol</th>
          <th scope="col" >Name</th>
          <th scope="col" class="d-none d-md-table-cell">Volume</th>
          <th scope="col" >Price</th>
          <th scope="col" >Quantity</th>
          <th scope="col" >Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of marketData">
          <td class="d-none d-md-table-cell">{{ stock.symbol }}</td>
          <td >{{ stock.name }}</td>
          <td class="d-none d-md-table-cell">{{ stock.volume }}</td>
          <td  [style.color]="stock.color">{{ stock.price | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
          <td >
            <div class="input-group">
              <input type="number" [(ngModel)]="stock.quantity" class="form-control" placeholder="Enter Quantity">
            </div>
          </td>
          <td >
            <button (click)="createTransaction(stock.id, stock.quantity);" class="btn btn-primary">Acquista</button>

          </td>
          <td>
            <button (click)="viewDetails(stock.id)" class="btn btn-secondary">Dettagli</button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
</div> -->





<!-- test solo colonna template dashboard  -->
<body id="page-top" *ngIf="!showSpinner">

  <!-- Page Wrapper -->
  <div id="wrapper">

      <!-- Sidebar -->

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

              <!-- Topbar -->

              <!-- End of Topbar -->

              <!-- Begin Page Content -->
              <div class="container-fluid">


                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800 text-center mt-3">MARKET</h1>
                  <a routerLink="/dashboard" routerLinkActive="active" class="d-none d-sm-inline-block btn btn-sm mt-3  shadow-sm bannercontrolpanel"><i
                          class=" fas fa-download fa-sm text-white-50 "></i> Dashboard</a>

              </div>
    <!-- Area Chart -->
    <div class="col-xl-12">
      <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
              class=" bannercontrolpanel  card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-white">Stocks</h6>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
          </div>







          <!-- Card Body -->
          <div class="card-body">

                <div class="col-md-12" >
                  <div class="table-responsive">
                    <table class="table" >
                      <thead>
                        <tr>
                          <th scope="col" class="d-none d-md-table-cell">Symbol</th>
                          <th scope="col" >Name</th>
                          <th scope="col" class="d-none d-md-table-cell">Volume</th>
                          <th scope="col" >Price</th>
                          <th scope="col" >Quantity</th>
                          <th scope="col" >Action</th>
                          <th scope="col" ></th>
                          <th scope="col" ></th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let stock of marketData; let i = index">
                          <tr>
                            <td class="d-none d-md-table-cell">{{ stock.symbol }}</td>
                            <td >{{ stock.name }}</td>
                            <td class="d-none d-md-table-cell">{{ stock.volume }}</td>
                            <td  [style.color]="stock.color">{{ stock.price | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                            <td >
                              <div class="input-group">
                                <input type="" [(ngModel)]="stock.quantity" class="form-control" placeholder="Enter Quantity">
                              </div>
                            </td>
                            <td >
                              <button (click)="createTransaction(stock.id, stock.quantity);" class=" btn btn-success rounded-4 m-0 px-5 btn-primary">BUY</button>

                            </td>
                            <td>
                              <button (click)="viewDetails(stock.id)" class="btn bannercontrolpanel rounded-4 m-0 px-5">Details</button>
                            </td>

                          </tr>
                      </ng-container>

  <button class="btn bannercontrolpanel rounded-3 mt-4 mx-2 px-3" (click)="previousPage()">PREVIOUS</button>
  <button class="btn bannercontrolpanel rounded-3 mt-4 px-3" (click)="nextPage()">NEXT</button>
                      </tbody>
                    </table>
                  </div>
                </div>


      </div>
  </div>
</div>
</div>


</div>
</div>
</div>
</body>




















<!-- tesr -->

<!-- about -->
<!-- <div class="about">
  <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
     <span class="icon"></span>
  </a>
  <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
     <span class="icon"></span>
  </a>
  <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
     <span class="icon"></span>
  </a>
  <a class="bg_links logo"></a>
</div> -->
<!-- end about -->

   <!-- <nav>
       <div class="menu">
           <p class="website_name">LOGO</p>
           <div class="menu_links">
               <a href="" class="link">about</a>
               <a href="" class="link">projects</a>
               <a href="" class="link">contacts</a>
           </div>
           <div class="menu_icon">
               <span class="icon"></span>
           </div>
       </div>
   </nav>

   <section class="wrapper">

       <div class="container">

           <div id="scene" class="scene" data-hover-only="false">


               <div class="circle" data-depth="1.2"></div>

               <div class="one" data-depth="0.9">
                   <div class="content">
                       <span class="piece"></span>
                       <span class="piece"></span>
                       <span class="piece"></span>
                   </div>
               </div>

               <div class="two" data-depth="0.60">
                   <div class="content">
                       <span class="piece"></span>
                       <span class="piece"></span>
                       <span class="piece"></span>
                   </div>
               </div>

               <div class="three" data-depth="0.40">
                   <div class="content">
                       <span class="piece"></span>
                       <span class="piece"></span>
                       <span class="piece"></span>
                   </div>
               </div>

               <p class="p404" data-depth="0.50">404</p>
               <p class="p404" data-depth="0.10">404</p>

           </div>

           <div class="text">
               <article>
                   <p>Uh oh! Looks like you got lost. <br>Go back to the homepage if you dare!</p>
                   <button>i dare!</button>
               </article>
           </div>

       </div>
   </section> -->








