


<!-- test 2  -->




	<div class="container">
		<div class="left">
			<div class="info-box">
				<div class="receipt">
					Receipt for <br><span>EpicTrading LTD.</span>
				</div>
				<div class="entry">
					<i class="icon-wallet" aria-hidden="true"></i>
					<p>Amount:<br><span>$20.00 USD</span></p>
				</div>
				<div class="entry">
					<i class="icon-calendar" aria-hidden="true"></i>
					<p>Date:<br><span>Nov 5</span></p>
				</div>
				<div class="entry">
					<i class="icon-star" aria-hidden="true"></i>
					<p>Issuer:<br><span>Dribbble</span></p>
				</div>
				<div class="entry">
					<i class="icon-notebook" aria-hidden="true"></i>
					<p>Confirmation Nr:<br><span>0YX123580219G</span></p>
				</div>
			</div>
		</div>
		<div class="right">
			<div class="content">
				<div class="header">
					<img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png">
					<h4>Oct 18, 2015   08:30:57   PDT</h4>
				</div>
				<div class="main">
					<h3>Deposit on wallet</h3>
					<h5>Total: $20.00 USD</h5>
				</div>
				<div class="message">
					<p>Hello Ennio,<br>You sent a payment of $20.00 USD to EpicTrading (<a href="/controlPanel">paypal@epictrading.com</a>)</p>
					<h6>It may take a few moments for this<br>transaction to appear in your account.</h6>
				</div>
				<div class="footer">
					<a href="#">www.paypal.com/help</a>
					<h6>Invoice ID: 108165</h6>
				</div>
			</div>
		</div>
	</div>





