.bannercontrolpanel{
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%)!important;
  color:white!important;
}



.bannercontrolpaneltext{
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}





#nav-avatar {
  left: 60px;
  top: 30px;
}

// .navbar-toggler {
//   color: #4ca7fd;
//   border: 1px solid #4cadfd;
// }



.dropdown a {
  text-decoration: none;
  color: black;
}




.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

#span-logout {
  position: absolute;
  top: 50px;
  left: 60px;
}

@media screen and (max-width: 992px) {
  nav {
    position: relative;
  }
  #icone-nav {
    // position: absolute;
    top: 12px;
    right: 60px;
  }
}


#h1 {
  font-weight: 900;
}

.btn_browse {
  background-color: #1acb98;
  color: white;
}
.btn_browse:hover {
  background-color: #15af83;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card-testo span {
  margin: 0 10px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}


.card:hover {
  box-shadow: 5px 10px 15px 3px rgb(154, 154, 154);
}

// @media screen and (max-width: 570px) {
//   .card {
//     font-size: 80%;
//   }
//   .card-testo svg {
//     width: 10px;
//   }
// }

// html,
// body {
//   font-family: "feather", sans-serif;
// }

