
<header class="mb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#"><img src="../../../assets/logoepicdtrading.png" alt="" style="max-width: 30px; max-height: 30px;">EPICTRADING</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <div>
        <ul class="navbar-nav mx- ">
          <li class="nav-item">
            <a class="nav-link" routerLink="/market" routerLinkActive="active">Market</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">boooooooh</a>
          </li>
        </ul>
        </div>
        <div  class="navbar-nav "   style=" margin-left:auto;">
        <!-- Aggiungi i bottoni "Login" e "Register" anche qui -->
        <button class="btn btn-light btn-sm ml-2">Login</button>
        <button class="btn btn-primary btn-sm ml-2">Register</button>
         </div>
       </div>
    </div>
  </nav>
  <hr class="m-0 p-0" style="color: grey;">
</header>
